{% extends 'base.html' %}

{% block title %} POS {% endblock %}

{% block content %}

    <div class="content">
        <div class="row">

            <div class="col-md-8">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#Category1" data-toggle="tab">Category 1</a></li>
                        <li><a href="#category2" data-toggle="tab">category 2</a></li>
                        <li><a href="#category3" data-toggle="tab">category 3</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="Category1">
                            <h2>Category One</h2>
                        </div>
                        <div class="tab-pane" id="category2">
                            <h2>Category two</h2>
                        </div>
                        <div class="tab-pane" id="category3">
                            <h2>Category three</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-body box-profile">

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
