{% extends 'base.html' %}
{% load static %}

{% block title %} Product Grid {% endblock %}

{% block content %}

    <style type="text/css">
        .product_category_list img {
            width: 100%;
            height: 180px;
        }
    </style>

    <section class="content-header">
        <h1> Dashboard <small>Product grid page</small></h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Product-Grid</li>
        </ol>
    </section>

    <div class="content">
        <div class="row product_category_list">
            {% if product %}
                {% for obj in product %}
                    <div class="col-lg-2">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title"><a href="{% url 'cart_add' obj.id %}">{{ obj.title }}</a></h3>
                            </div>
                            <div class="box-body">
                                <div class="category_by_product">
                                    <a href="{% url 'cart_add' obj.id %}">
                                        <img src="{{ obj.product_image.url }}" alt="Product Picture">
                                    </a>
                                </div>
                            </div>
                            <div class="box-footer">
                                <p class="box-title">${{ obj.price }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
