{% extends 'base.html' %}

{% block title %} Inventory list || Inventory {% endblock %}

{% block content %}

    <section class="content-header">
        <h1> Dashboard <small>Inventory list page</small></h1>
        <ol class="breadcrumb">
            <li><a href="{% url 'dashboard' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">list</li>
        </ol>
    </section>

    <div class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Inventory List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% if inventory %}
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>Inventory Name</th>
                                    <th>Category</th>
                                    <th>Current Stock</th>
                                    <th>Purchase price</th>
                                    <th>Sales price</th>
                                    <th>Promotional price</th>
                                    <th>Created At</th>
                                    <th>Updated At</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                                {% for obj in inventory %}
                                    <tr>
                                        <td>{{ obj.name }}</td>
                                        <td>{{ obj.category_name }}</td>
                                        <td>{{ obj.current_stock }}</td>
                                        <td>{{ obj.purchase_price }}</td>
                                        <td>{{ obj.sales_price }}</td>
                                        <td>{{ obj.promotional_price }}</td>
                                        <td>{{ obj.created_at }}</td>
                                        <td>{{ obj.update_at }}</td>
                                        <td class="text-center">
                                            <a class="btn btn-info btn-sm" href="{% url 'inventory_detail' obj.pk %}"><i
                                                    class="fa fa-eye"></i></a>
                                            <a class="btn btn-info btn-sm" href="{% url 'inventory_update' obj.pk %}"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a class="btn btn-danger btn-sm"
                                               href="{% url 'inventory_delete' obj.pk %}"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h2>No Inventory added yet</h2>
                        {% endif %}
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">
                        {% include 'category/pagination.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}